body {
    background-color : #fafafa ;
}

.abstract:before {
    content : "Abstract: " ;
}

.abstract {
    margin : 1em 30% 1em 1em ;
    padding : 1em ;
    background-color : #f0f0f0 ;
}

.contact {
    display : block ;
    float : right ;
    margin : 1px ;
    overflow : hidden ;
	width : 100% ;
}

.vcard {
     display : block ;
     float : left ;
}

.contact-line {
     display : list-item ;
     list-style : disc inside ;
     margin : 0.5ex ;
}

.vcard-code {
    float : left ;
    background-color : #f0f0f0 ;
    margin : 0.5ex ;
    padding : 2ex ;
    font-size : small ;
}

 .description {
     display : block ;
}

