<?xml version="1.0" encoding="UTF-8" ?>
<service xsi:noNamespaceSchemaLocation="../core/sedola.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <title>The Web</title>
    <include href="html.xml"/>
    <include href="../image/gif.xml"/>
    <include href="../image/jpeg.xml"/>
    <include href="../image/png.xml"/>
    <include href="../feeds/rfc4287.xml"/>
    <include href="../feeds/rfc5005.xml"/>
    <include href="../feeds/opensearch.xml"/>
</service>